version: '3'
services:
  db:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=la-chaise-du-savoir
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:
